body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  color: rgb(255, 255, 255);
  padding-top: 14%;
  align-items: center;
  justify-content: center;
  background-image: url("background_image/my_background.png");
}
.I_am {
  font-size: 18px;
}
.me {
  font-size: larger;
}
.work {
  font-size: 18px;
}
.fab {
  text-align: center;
}
span{
  color: #1ecdda;
}
ul a {
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  height: 45px;
  width: 45px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
ul a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
ul a:hover:before {
  filter: blur(0px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}


ul a:nth-child(1):hover {
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
}
ul a:nth-child(2):hover {
  color: #1ecdda;
}
ul a:nth-child(3):hover {
  color: #e1306c;
}
ul a:nth-child(4):hover {
  color: #4267B2;
}
ul a:nth-child(5):hover {
  color: #1ecdda;
}